<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Pay>
            <version>0.1.0</version>
        </Excellence_Pay>
    </modules>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Excellence_Pay</module>
                    <frontName>pay</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <pay>
                    <file>pay.xml</file>
                </pay>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <pay>
                <class>Excellence_Pay_Model</class>
                <resourceModel>pay_mysql4</resourceModel>
            </pay>
            <pay_mysql4>
                <class>Excellence_Pay_Model_Mysql4</class>
                <entities>
                    <pay>
                        <table>pay</table>
                    </pay>
                </entities>
            </pay_mysql4>
        </models>
        <resources>
            <pay_setup>
                <setup>
                    <module>Excellence_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pay_setup>
            <pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pay_write>
            <pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pay_read>
        </resources>
        <blocks>
            <pay>
                <class>Excellence_Pay_Block</class>
            </pay>
        </blocks>
        <helpers>
            <pay>
                <class>Excellence_Pay_Helper</class>
            </pay>
        </helpers>
    </global>
    <default>
        <payment>
            <pay>
                <active>1</active>
                <model>pay/pay</model>
                <order_status>processing</order_status>
                <title>Excellence Payment Method</title>
                <message>Please draw check in favour of Test Corporation: #XXXX-XXXX</message>
            </pay>
         </payment>
    </default>
</config>