<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Fb>
            <version>0.1.0</version>
        </Excellence_Fb>
    </modules>
    <frontend>
        <routers>
            <fb>
                <use>standard</use>
                <args>
                    <module>Excellence_Fb</module>
                    <frontName>fb</frontName>
                </args>
            </fb>
        </routers>
        <layout>
            <updates>
                <fb>
                    <file>fb.xml</file>
                </fb>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fb>
				<use>admin</use>
				<args>
					<module>Excellence_Fb</module>
					<frontName>fb</frontName>
				</args>
			</fb>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<fb>
					<file>fb.xml</file>
				</fb>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fb>
                <class>Excellence_Fb_Model</class>
                <resourceModel>fb_mysql4</resourceModel>
            </fb>
            <fb_mysql4>
                <class>Excellence_Fb_Model_Mysql4</class>
                <entities>
                    <fb>
                        <table>fb</table>
                    </fb>
                </entities>
            </fb_mysql4>
        </models>
        <resources>
            <fb_setup>
                <setup>
                    <module>Excellence_Fb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fb_setup>
            <fb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fb_write>
            <fb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fb_read>
        </resources>
        <blocks>
            <fb>
                <class>Excellence_Fb_Block</class>
            </fb>
        </blocks>
        <helpers>
            <fb>
                <class>Excellence_Fb_Helper</class>
            </fb>
        </helpers>
    </global>
</config>