<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_File>
            <version>0.1.0</version>
        </Excellence_File>
    </modules>
    <frontend>
        <routers>
            <file>
                <use>standard</use>
                <args>
                    <module>Excellence_File</module>
                    <frontName>file</frontName>
                </args>
            </file>
        </routers>
        <layout>
            <updates>
                <file>
                    <file>file.xml</file>
                </file>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<file>
				<use>admin</use>
				<args>
					<module>Excellence_File</module>
					<frontName>file</frontName>
				</args>
			</file>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<file>
					<file>file.xml</file>
				</file>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<events>
    		<checkout_submit_all_after>
    			<observers>
                   <save_after> <!-- Any Unique Identifier -->
	                    <type>singleton</type>
	                    <class>Excellence_File_Model_Observer</class> <!-- Over Model Class -->
	                    <method>placeOrderAfter</method> <!-- name of function -->
                   </save_after>
		        </observers>
    		</checkout_submit_all_after>
    		<sales_quote_save_after>
    			<observers>
    				<sales_quote_save_after>
    					<type>singleton</type>
	                    <class>Excellence_File_Model_Observer</class> <!-- Over Model Class -->
	                    <method>saveQuoteAfter</method> <!-- name of function -->
    				</sales_quote_save_after>
    			</observers>
    		</sales_quote_save_after>
    	</events>
        <models>
            <file>
                <class>Excellence_File_Model</class>
                <resourceModel>file_mysql4</resourceModel>
            </file>
            <file_mysql4>
                <class>Excellence_File_Model_Mysql4</class>
                <entities>
                    <file>
                        <table>quote_file</table>
                    </file>
                    <order_file>
                        <table>order_file</table>
                    </order_file>
                </entities>
            </file_mysql4>
            <payment>
        		<rewrite>
        			<method_purchaseorder>Excellence_File_Model_Payment_Method_Purchaseorder</method_purchaseorder>
        		</rewrite>
        	</payment>
        </models>
        <resources>
            <file_setup>
                <setup>
                    <module>Excellence_File</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </file_setup>
            <file_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </file_write>
            <file_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </file_read>
        </resources>
        <blocks>
            <file>
                <class>Excellence_File_Block</class>
            </file>
        </blocks>
        <helpers>
            <file>
                <class>Excellence_File_Helper</class>
            </file>
        </helpers>
    </global>
</config>