<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Shipdrop>
            <version>0.1.0</version>
        </Excellence_Shipdrop>
    </modules>
    <frontend>
        <routers>
            <shipdrop>
                <use>standard</use>
                <args>
                    <module>Excellence_Shipdrop</module>
                    <frontName>shipdrop</frontName>
                </args>
            </shipdrop>
        </routers>
        <layout>
            <updates>
                <shipdrop>
                    <file>shipdrop.xml</file>
                </shipdrop>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<shipdrop>
				<use>admin</use>
				<args>
					<module>Excellence_Shipdrop</module>
					<frontName>shipdrop</frontName>
				</args>
			</shipdrop>
        </routers>
    </admin>
    <global>
    	<events>
    		<controller_action_predispatch_checkout_cart_index >
    			<observers>
    				<preIndex>
    					<class>shipdrop/observer</class>
                        <method>setShipping</method>
    				</preIndex>
    			</observers>
    		</controller_action_predispatch_checkout_cart_index>
    	</events>
    	<sales>
            <quote>
                <totals>
                    <shipping>
                    	<class>shipdrop/sales_quote_address_total_shipping</class>
                        <renderer>shipdrop/checkout_total_shipping</renderer>
                    </shipping>
                </totals>
            </quote>
        </sales>
        <models>
            <shipdrop>
                <class>Excellence_Shipdrop_Model</class>
                <resourceModel>shipdrop_mysql4</resourceModel>
            </shipdrop>
            <shipdrop_mysql4>
                <class>Excellence_Shipdrop_Model_Mysql4</class>
                <entities>
                    <shipdrop>
                        <table>shipdrop</table>
                    </shipdrop>
                </entities>
            </shipdrop_mysql4>
        </models>
        <resources>
            <shipdrop_setup>
                <setup>
                    <module>Excellence_Shipdrop</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipdrop_setup>
            <shipdrop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipdrop_write>
            <shipdrop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipdrop_read>
        </resources>
        <blocks>
            <shipdrop>
                <class>Excellence_Shipdrop_Block</class>
            </shipdrop>
        </blocks>
        <helpers>
            <shipdrop>
                <class>Excellence_Shipdrop_Helper</class>
            </shipdrop>
        </helpers>
    </global>
</config>