{{!Nested if and each loop}}
{{#if employees}}
<table class="table">
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
        </tr>
    </thead>
    <tbody>
        {{/if}}    
        {{#each employees}}
        <tr>
            <td>{{@index}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
        </tr>
        {{/each}}
        {{#if employees}}
    </tbody>
</table>
{{/if}} 