<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Ajax>
            <version>0.1.0</version>
        </Excellence_Ajax>
    </modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Excellence_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax>
        </routers>
        <layout>
            <updates>
                <ajax>
                    <file>ajax.xml</file>
                </ajax>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ajax>
                <class>Excellence_Ajax_Model</class>
                <resourceModel>ajax_mysql4</resourceModel>
            </ajax>
            <ajax_mysql4>
                <class>Excellence_Ajax_Model_Mysql4</class>
                <entities>
                    <ajax>
                        <table>ajax</table>
                    </ajax>
                </entities>
            </ajax_mysql4>
        </models>
        <resources>
            <ajax_setup>
                <setup>
                    <module>Excellence_Ajax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajax_setup>
            <ajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajax_write>
            <ajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajax_read>
        </resources>
        <blocks>
        	<checkout>
        		<rewrite>
        			<cart_sidebar>Excellence_Ajax_Block_Cart_Sidebar</cart_sidebar>
        		</rewrite>
        	</checkout>
            <ajax>
                <class>Excellence_Ajax_Block</class>
            </ajax>
        </blocks>
        <helpers>
            <ajax>
                <class>Excellence_Ajax_Helper</class>
            </ajax>
        </helpers>
    </global>
</config>