<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Fee>
            <version>0.1.4</version>
        </Excellence_Fee>
    </modules>
    <frontend>
        <routers>
            <fee>
                <use>standard</use>
                <args>
                    <module>Excellence_Fee</module>
                    <frontName>fee</frontName>
                </args>
            </fee>
        </routers>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fee>
				<use>admin</use>
				<args>
					<module>Excellence_Fee</module>
					<frontName>fee</frontName>
				</args>
			</fee>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<fee>
					<file>fee.xml</file>
				</fee>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<sales>
            <quote>
                <totals>
                    <fee>
                        <class>fee/sales_quote_address_total_fee</class>
                        <renderer>fee/checkout_total</renderer>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_invoice_fee</class>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_creditmemo_fee</class>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>fee/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>fee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>fee/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Fee</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </fee>
            </totals>
        </pdf>
        <models>
            <fee>
                <class>Excellence_Fee_Model</class>
                <resourceModel>fee_mysql4</resourceModel>
            </fee>
            <fee_mysql4>
                <class>Excellence_Fee_Model_Mysql4</class>
                <entities>
                    <fee>
                        <table>fee</table>
                    </fee>
                </entities>
            </fee_mysql4>
        </models>
        <resources>
            <fee_setup>
                <setup>
                    <module>Excellence_Fee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fee_setup>
            <fee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fee_write>
            <fee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fee_read>
        </resources>
        <blocks>
            <fee>
                <class>Excellence_Fee_Block</class>
            </fee>
        </blocks>
        <helpers>
            <fee>
                <class>Excellence_Fee_Helper</class>
            </fee>
        </helpers>
    </global>
    <default>
    	<sales>
            <totals_sort>
            	<fee>15</fee>
            </totals_sort>
        </sales>
    </default>
</config>