<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Collection>
            <version>0.1.0</version>
        </Excellence_Collection>
    </modules>
    <frontend>
        <routers>
            <collection>
                <use>standard</use>
                <args>
                    <module>Excellence_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </collection>
        </routers>
        <layout>
            <updates>
                <collection>
                    <file>collection.xml</file>
                </collection>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <collection>
                <class>Excellence_Collection_Model</class>
                <resourceModel>collection_mysql4</resourceModel>
            </collection>
            <collection_mysql4>
                <class>Excellence_Collection_Model_Mysql4</class>
                <entities>
                    <collection>
                        <table>collection</table>
                    </collection>
                </entities>
            </collection_mysql4>
        </models>
        <resources>
            <collection_setup>
                <setup>
                    <module>Excellence_Collection</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </collection_setup>
            <collection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </collection_write>
            <collection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </collection_read>
        </resources>
        <blocks>
            <collection>
                <class>Excellence_Collection_Block</class>
            </collection>
        </blocks>
        <helpers>
            <collection>
                <class>Excellence_Collection_Helper</class>
            </collection>
        </helpers>
    </global>
</config>