<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_AjaxWishlist>
            <version>0.1.0</version>
        </Excellence_AjaxWishlist>
    </modules>
    <frontend>
        <routers>
            <ajaxwishlist>
                <use>standard</use>
                <args>
                    <module>Excellence_AjaxWishlist</module>
                    <frontName>ajaxwishlist</frontName>
                </args>
            </ajaxwishlist>
        </routers>
        <layout>
            <updates>
                <ajaxwishlist>
                    <file>ajaxwishlist.xml</file>
                </ajaxwishlist>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ajaxwishlist>
                <class>Excellence_AjaxWishlist_Model</class>
                <resourceModel>ajaxwishlist_mysql4</resourceModel>
            </ajaxwishlist>
            <ajaxwishlist_mysql4>
                <class>Excellence_AjaxWishlist_Model_Mysql4</class>
                <entities>
                    <ajaxwishlist>
                        <table>ajaxwishlist</table>
                    </ajaxwishlist>
                </entities>
            </ajaxwishlist_mysql4>
        </models>
        <resources>
            <ajaxwishlist_setup>
                <setup>
                    <module>Excellence_AjaxWishlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxwishlist_setup>
            <ajaxwishlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxwishlist_write>
            <ajaxwishlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxwishlist_read>
        </resources>
        <blocks>
            <ajaxwishlist>
                <class>Excellence_AjaxWishlist_Block</class>
            </ajaxwishlist>
        </blocks>
        <helpers>
            <ajaxwishlist>
                <class>Excellence_AjaxWishlist_Helper</class>
            </ajaxwishlist>
        </helpers>
    </global>
</config>