<html>
    {{>head}}
    <body>
        {{>includes/header}}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {{>includes/left}}            
                </div>
                <div class="col-md-8">
                    {{{body}}}
                </div>
            </div>
        </div>
    </body>
</html>