<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <excellence_stripe>
                <active>0</active>
                <model>Excellence\Stripe\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Stripe</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </excellence_stripe>
        </payment>
    </default>
</config>
