{{#success_message}}
<div class="alert alert-success" role="alert">{{success_message}}</div>
{{/success_message}}
{{#error_message}}
<div class="alert alert-danger" role="alert">{{error_message}}</div>
{{/error_message}}