<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" href="/stylesheets/bootstrap.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
</head>
