<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Pickup>
            <version>0.1.0</version>
        </Excellence_Pickup>
    </modules>
    <frontend>
        <routers>
            <pickup>
                <use>standard</use>
                <args>
                    <module>Excellence_Pickup</module>
                    <frontName>pickup</frontName>
                </args>
            </pickup>
        </routers>
        <layout>
            <updates>
                <pickup>
                    <file>pickup.xml</file>
                </pickup>
            </updates>
        </layout>
    </frontend>
    <global>
    	<events>
    		<checkout_controller_onepage_save_shipping_method>
    			<observers>
    				<checkout_controller_onepage_save_shipping_method>
			            <type>model</type>
			            <class>pickup/observer</class>
			            <method>saveShippingMethod</method>
			        </checkout_controller_onepage_save_shipping_method>
    			</observers>
    		</checkout_controller_onepage_save_shipping_method>
    		<sales_model_service_quote_submit_after>
    			<observers>
    				<checkout_controller_onepage_save_shipping_method>
			            <type>model</type>
			            <class>pickup/observer</class>
			            <method>saveOrderAfter</method>
			        </checkout_controller_onepage_save_shipping_method>
    			</observers>
    		</sales_model_service_quote_submit_after>
    		<sales_order_load_after>
    			<observers>
    				<sales_order_load_after>
    					<type>model</type>
			            <class>pickup/observer</class>
			            <method>loadOrderAfter</method>
    				</sales_order_load_after>
    			</observers>
    		</sales_order_load_after>
    		<sales_quote_load_after>
    			<observers>
    				<sales_quote_load_after>
    					<type>model</type>
			            <class>pickup/observer</class>
			            <method>loadQuoteAfter</method>
    				</sales_quote_load_after>
    			</observers>
    		</sales_quote_load_after>
    	</events>
        <models>
       		<sales>
       			<rewrite>
        			<order>Excellence_Pickup_Model_Sales_Order</order>
       			</rewrite>
       		</sales>
            <pickup>
                <class>Excellence_Pickup_Model</class>
                <resourceModel>pickup_mysql4</resourceModel>
            </pickup>
            <pickup_mysql4>
                <class>Excellence_Pickup_Model_Mysql4</class>
                <entities>
                    <pickup>
                        <table>order_shipping_pickup</table>
                    </pickup>
                </entities>
            </pickup_mysql4>
        </models>
        <resources>
            <pickup_setup>
                <setup>
                    <module>Excellence_Pickup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pickup_setup>
            <pickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pickup_write>
            <pickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pickup_read>
        </resources>
        <blocks>
            <pickup>
                <class>Excellence_Pickup_Block</class>
            </pickup>
        </blocks>
        <helpers>
            <pickup>
                <class>Excellence_Pickup_Helper</class>
            </pickup>
        </helpers>
    </global>
    <default>
        <carriers>
          	<pickup>
               <active>1</active>
               <model>pickup/carrier_pickup</model>
               <title>Self Pickup</title>
               <name>Store Pickup</name>
               <price>0</price>
               <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </pickup>
         </carriers>
       </default>
</config>