<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Manager>
            <version>0.1.0</version>
        </Excellence_Manager>
    </modules>
    <frontend>
        <routers>
            <manager>
                <use>standard</use>
                <args>
                    <module>Excellence_Manager</module>
                    <frontName>manager</frontName>
                </args>
            </manager>
        </routers>
        <layout>
            <updates>
                <manager>
                    <file>manager.xml</file>
                </manager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<manager>
				<use>admin</use>
				<args>
					<module>Excellence_Manager</module>
					<frontName>manager</frontName>
				</args>
			</manager>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<manager module="manager">
				<title>Manager</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="manager">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>manager/adminhtml_manager</action>
					</items>
				</children>
			</manager>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Manager>
							<title>Manager Module</title>
							<sort_order>10</sort_order>
						</Excellence_Manager>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<manager>
					<file>manager.xml</file>
				</manager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <manager>
                <class>Excellence_Manager_Model</class>
                <resourceModel>manager_mysql4</resourceModel>
            </manager>
            <manager_mysql4>
                <class>Excellence_Manager_Model_Mysql4</class>
                <entities>
                    <manager>
                        <table>customer_manager</table>
                    </manager>
                    <grid>
                        <table>grid_manager</table>
                    </grid>
                </entities>
            </manager_mysql4>
        </models>
        <resources>
            <manager_setup>
                <setup>
                    <module>Excellence_Manager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manager_setup>
            <manager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manager_write>
            <manager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manager_read>
        </resources>
        <blocks>
            <manager>
                <class>Excellence_Manager_Block</class>
            </manager>
        </blocks>
        <helpers>
            <manager>
                <class>Excellence_Manager_Helper</class>
            </manager>
        </helpers>
    </global>
</config>