<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Email>
            <version>0.1.0</version>
        </Excellence_Email>
    </modules>
    <frontend>
        <routers>
            <email>
                <use>standard</use>
                <args>
                    <module>Excellence_Email</module>
                    <frontName>email</frontName>
                </args>
            </email>
        </routers>
        <layout>
            <updates>
                <email>
                    <file>email.xml</file>
                </email>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<email>
				<use>admin</use>
				<args>
					<module>Excellence_Email</module>
					<frontName>email</frontName>
				</args>
			</email>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<email module="email">
				<title>Email</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="email">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>email/adminhtml_email</action>
					</items>
				</children>
			</email>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Email>
							<title>Email Module</title>
							<sort_order>10</sort_order>
						</Excellence_Email>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<email>
					<file>email.xml</file>
				</email>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<template>
            <email>
                <customer_account_share_custom_template translate="label" module="email">
                    <label>Custom Test Email</label>
                    <file>test.html</file>
                    <type>html</type>
                </customer_account_share_custom_template>
          	</email>
        </template>
        <models>
            <email>
                <class>Excellence_Email_Model</class>
                <resourceModel>email_mysql4</resourceModel>
            </email>
            <email_mysql4>
                <class>Excellence_Email_Model_Mysql4</class>
                <entities>
                    <email>
                        <table>email</table>
                    </email>
                </entities>
            </email_mysql4>
        </models>
        <resources>
            <email_setup>
                <setup>
                    <module>Excellence_Email</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </email_setup>
            <email_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </email_write>
            <email_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </email_read>
        </resources>
        <blocks>
            <email>
                <class>Excellence_Email_Block</class>
            </email>
        </blocks>
        <helpers>
            <email>
                <class>Excellence_Email_Helper</class>
            </email>
        </helpers>
    </global>
    <default>
        <customer>
            <account_share>
                <custom_identity>general</custom_identity>
                <custom_template>customer_account_share_custom_template</custom_template>
            </account_share>
        </customer>
    </default>
</config>