.logo{
    padding: 17px;
}
.navbar{
    border-radius: 0px;
}
.custom-search{
    border-left: medium none;
    height: 20px;
}
.border-box{
    border:1px solid #ccc;
}
.product {
    height: 200px;
}